@layer typography {
  :root {
    font-family: var(--font-body);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
  }

  body {
    color: var(--base-color, #333);
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--font-body, sans-serif);
    margin-block: 0;
  }

  h1,
  .h1 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-light);
  }
  h2,
  .h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-light);
  }
  h3,
  .h3 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
  }
  h4,
  .h4 {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
  }
  h5,
  .h5 {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-normal);
  }
  h6,
  .h6 {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-normal);
  }

  p, dl {
    font-size: var(--font-size-0);
  }

  a:not([class]) {
    color: var(--link-color, #007bff);
    text-decoration: none;
  }

  a:not([class]):hover {
    text-decoration: underline;
  }

  ul:not([class]),
  ol:not([class]) {
    margin-top: 0;
    margin-bottom: var(--space-3xs);
    padding-left: var(--space-s);
  }

  li {
    margin-bottom: var(--space-xs);
  }

  blockquote {
    margin: 0;
    padding: 0 var(--padding-inline);
    color: var(--color-base-100);
    border-left: 0;
  }

  p,
  input,
  button,
  a {
    font-weight: var(--font-weight-light);
  }

  strong {
    font-weight: var(--font-weight-semibold);
  }
}


