:root {
  --_center-measure: 100ch;

  --link-color: var(--primary-color);

  --base-padding-block: var(--space-s);
  --base-padding-inline: var(--space-l);

  --base-gutter: var(--space-m);

  --base-separator: 1px solid var(--base-color-10-tint);
  --base-separator-dark: 1px solid var(--base-color-80-tint);

  --sidebar-padding-inline: var(--space-s-m);
  --sidebar-padding-block: var(--space-m);
  --sidebar-left-color: var(--base-color);

  --ui-padding-block: var(--space-s);
  --ui-padding-inline: var(--space-s);

  --sidebar-right-width: 400px;
  --sidebar-left-width: 300px;
}
