---
layout: docs-index.njk
title: Templates
category: templates
description: Templates are page-level objects that place components into a layout and articulate the design's underlying content structure.
eleventyNavigation:
  key: Templates
  order: 5
---

<h2>Templates</h2>

<p>Templates are page-level objects that place components into a layout and articulate the design's underlying content structure.</p>

<div class="component-grid">
  {% for component in collections.docs_templates %}
    {% if not component.fileSlug.includes('index') %}
    <div class="component-card">
      <h3><a href="{{ component.url }}">{{ component.data.title }}</a></h3>
      <p>{{ component.data.description }}</p>
    </div>
    {% endif %}
  {% endfor %}
</div> 