<button class="btn {{ modifier }}" {% if disabled %}disabled{% endif %} type="{{ type | default('button') }}">
  {% if iconLeft %}<span class="btn-icon btn-icon-left">{{ iconLeft | safe }}</span>{% endif %}
  <span class="btn-text">{{ text }}</span>
  {% if iconRight %}<span class="btn-icon btn-icon-right">{{ iconRight | safe }}</span>{% endif %}
</button>
