---
layout: docs-layout.njk
title: Organisms
---

<h2>Organisms</h2>

<p>Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface.</p>

<div class="component-grid">
  {% for component in collections.docs_organisms %}
    {% if not component.fileSlug.includes('index') %}
    <div class="component-card">
      <h3><a href="{{ component.url }}">{{ component.data.title }}</a></h3>
      <p>{{ component.data.description }}</p>
    </div>
    {% endif %}
  {% endfor %}
</div>