@layer layout {
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    --_stack-space: var(--space-s);
    margin-block-start: var(--_stack-space);
  }

  .cluster {
    --_cluster-space: var(--space-s);

    display: flex;
    flex-wrap: wrap;
    gap: var(--_cluster-space);
    justify-content: flex-start;
    align-items: center;

    /* data-split - isso é um modifier do cluster, que empurra os elementos para o lado oposto do parent */
    [data-split] {
      margin-left: auto;
    }
  }

  .split-50-50 {
    --_split-gutter: var(--space-m);

    display: flex;
    gap: var(--_split-gutter);
  }

  .repel {
    --_repel-space: var(--space-m);

    display: flex;
    justify-content: space-between;
    gap: var(--_repel-space);
  }

  .center {
    --_center-measure: var(--center-measure);

    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--_center-measure);
  }

  .grid {
    --_grid-gap: var(--space-m);
    --_grid-column-size: var(--grid-column-size);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--_grid-column-size), 1fr));
    gap: var(--_grid-gap);
  }

  .float\:left { float: left; }

  .aux {
    --_aux-color: var(--color-error);
    --_aux-background-color: var(--color-error-100);
    --_aux-border-color: var(--color-error-200);

    outline: 2px solid var(--_aux-border-color);
    color: var(--_aux-color);
    background-color: var(--_aux-background-color);
  }
}
